# editors
.zed
.vscode

# pytest
.pytest_cache

# cached files
**/__pycache__

# source data
**/*.mat

out/**/*
code_artifacts/**

# debug dumps written by the pipeline scripts (trielec, tetwarp, etc.)
extraction*.txt
pipeline_log.txt